<div class="card">
    <img src="assets/banner placeholder.jpg" class="card-img-top" height="200rem" alt="...">
    <div class="card-body">
    </div>
  </div>
  <div class="card mb-3" >
    <div class="row g-0" >
      <div class="col-md-2">
        <img src="assets/The Batman.jpg" class="img-fluid rounded-start" style="height: 10em" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Federico J. Lanci</h5>
          <p class="card-text">***PLACEHOLDER ACERCA DE***</p>
          <p class="card-text"><small class="text-muted">???</small></p>
        </div>
      </div>
    </div>
  </div>
